In [ ]:
# 1. Set the variable test1 to the string 'This is a test of the emergency text 
# system,' and save test1 to a file named test.txt.

In [ ]:
test1 = 'This is a test of the emergency text system,'
with open ("test.txt",'w') as f:
    f.write(test1)

In [ ]:
# 2. Read the contents of the file test.txt into the variable test2. Is there
# a difference between test 1 and test 2?

In [ ]:
with open ("test.txt",'r') as f:
    test2=f.read()
print(test2)
print(test1)

In [ ]:
# 3. Create a CSV file called books.csv by using these lines:

# title,author,year
# The Weirdstone of Brisingamen,Alan Garner,1960
# Perdido Street Station,China Miéville,2000
# Thud!,Terry Pratchett,2005
# The Spellman Files,Lisa Lutz,2007
# Small Gods,Terry Pratchett,1992

In [ ]:
import csv
# Store data to be written as a list of lists, 
# with each nested list for a row
mybooks = [
           ["title","author","year"],["The Weirdstone of Brisingamen","Alan Garner",1960],["Perdido Street Station","China Miéville",2000],["Thud!","Terry Pratchett",2005],["The Spellman Files","Lisa Lutz",2007],["Small Gods","Terry Pratchett",1992]
          ]
# Open the .csv file to which contents of list mybooks is to be written as 'f'
with open ("books.csv","w", newline='')as f:   #if newline='' not given one empty row inserted after each row
    #create the csv.writer() object passing 'f' as argument
    mycsvwriter = csv.writer(f)
    # use cevwriterobjectname.writerows() passing the nested list of contents as arg
    mycsvwriter.writerows(mybooks)
# The image below shows file openened in Excel with content

In [ ]:
#4. Use the sqlite3 module to create a SQLite database called books.db, and a
# table called books with these fields: title (text), author (text), and year (integer).

In [ ]:
import sqlite3
db = sqlite3.connect("books.db")
cur = db.cursor()
cur.execute("create table books ('title' text,'author' texr, 'year' integer)")
db.close()

In [ ]:
#5. Read books.csv and insert its data into the book table.

In [ ]:
import sqlite3
import csv
#
db=sqlite3.connect("books.db")
cur = db.cursor()
#
input_file = open("books.csv")
rows = csv.reader(input_file)
print(rows)
cur.executemany("insert into books values(?,?,?)", rows)
db.commit()
# Checking if table is written successfully
cur.execute("select * from books")
cur.fetchall()
db.close()

In [ ]:
#6. Select and print the title column from the book table in alphabetical order.

In [ ]:
import sqlite3
#
db=sqlite3.connect("books.db")
cur = db.cursor()
#
cur.execute("select title from books order by title ASC")
cur.fetchall()
db.close()

In [ ]:
#7. From the book table, select and print all columns in the order of publication.

In [ ]:
import sqlite3
db = sqlite3.connect("books.db")
cursor = db.cursor()
#
cursor.execute("select * from books order by year DESC")
cursor.fetchall()   # Result shows order with newest books first

In [ ]:
import sqlite3
db = sqlite3.connect("books.db")
cursor = db.cursor()
cursor.execute("select title, author, year from books order by year ASC")
cursor.fetchall() ## Result shows order with oldest books first

In [ ]:
#8. Use the sqlalchemy module to connect to the sqlite3 database books.db that
# you just made in exercise 6.

In [ ]:
# import sqlalchemy and pandas
import sqlalchemy
import pandas as pd
# Turn on database engine
dbEngine=sqlalchemy.create_engine('sqlite:///books.db') 
# Since using relative path three '/' needed in 'sqlite:///books.db'
# If using absolute path four slashes '/' needed
dbEngine
# read the data with pandas
pd.read_sql("select * from books", dbEngine)

In [ ]:
#9. Install the Redis server and the Python redis library (pip install redis)
# on your computer. Create a Redis hash called test with the fields count (1)
# and name ('Fester Bestertester'). Print all the fields for test.

In [7]:
# !pip install redis
# Did not work as redis is mainly suitable for unix system. needed to install 
# memuraideveloper.2.0.5 from https://www.nuget.org/packages/MemuraiDeveloper/
# and run memurai.exe in its tools folder
import redis
my_con = redis.Redis()
my_con.delete('test')  # delete 'test' in case it already exists
# create a Redis hash called test with fields count(1) and name('Fester Bestertester').
my_con.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
my_con.hgetall('test')

C:\Users\tejuh\AppData\Local\Temp/ipykernel_1236/675552867.py:9: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  my_con.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

{b'count': b'1', b'name': b'Fester Bestertester'}

# 10. Increment the count field of test and print it.

In [9]:
my_con.hincrby('test','count', 1)   # increment by 1. We can increment by any number
# 
print(my_con.hgetall('test'))
#
my_con.hincrby('test','count', 5)   # increment by 5. We can increment by any number
# 
print(my_con.hgetall('test'))

{b'count': b'3', b'name': b'Fester Bestertester'}
{b'count': b'8', b'name': b'Fester Bestertester'}